<ion-card>
  <ion-card-header>
    <ion-card-title>Review by {{reviewData.owner}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="stars">
      <ion-icon *ngFor="let star of [].constructor(reviewData.rated)" name="star"></ion-icon>
      <ion-icon *ngFor="let star of [].constructor(5-reviewData.rated)" name="star-outline"></ion-icon>
      {{reviewData.rated}}
    </div>
    <p class="text">
      {{reviewData.text}}
    </p>
    <div class="actions">
      <ion-button (click)="viewMovie(reviewData.movie)" >View movie</ion-button>
      <div *ngIf="isOwner" style="display: contents;">
        <ion-button (click)="updateEvent.emit(reviewData.id)">Update review</ion-button>
        <ion-button color="danger"  (click)="deleteEvent.emit(reviewData.id)" >Delete review</ion-button>
      </div>
    </div>
  </ion-card-content>
</ion-card>