<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Watchlist
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Watchlist</ion-title>
    </ion-toolbar>
  </ion-header>


<div *ngIf="userData | async as user" >
  <div *ngFor="let movie of watchList; let index=index" >
    <app-movie
      [movieData]="movie"
      [mode]="'watchList'"
      [watched]="didWatch(user.watchlist, index)"
      (removeFromWatchList$)="removeFromWatchList($event.id)"
      (markWatched$)="markWatched($event.movieRef, $event.watched)"
    ></app-movie>
  </div>
  <div *ngIf="!watchList.length">
      <h1 style="text-align: center;" >You have nothing to watch.</h1>
  </div>
</div>


</ion-content>
