<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Watchlist
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Watchlist</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="movies.length else emptyList">
    <div *ngFor="let movie of movies; let index = index">
      <app-movie 
        [movieData]="movie" 
        [mode]="'watchList'"
        (removeFromWatchList$)="removeFromWatchList($event.id)"
        (review$)="visibleReviewIndex=index"
      ></app-movie>
      <app-create-review 
        [movieData]="movie" 
        [user]="currentUser"
        [showing]="index==visibleReviewIndex"
      ></app-create-review>
    </div> 
  </div>
  <ng-template #emptyList>
      <h1 style="text-align: center;" >You have nothing to watch.</h1>
  </ng-template>

</ion-content>
