<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Browse latest reviews
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Browse latest reviews</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="createReview('ZEh14Qsjipta5Qnsa4jN')" >Dobar film</ion-button>
  <ion-button (click)="createReview('1FBbHejR4izydJbsn07k')" >Los film</ion-button>


  <div *ngIf="authService.getCurrentUser() | async as user" >
    <app-review 
      *ngFor="let review of reviews | async"
      [reviewData]="review" 
      [isOwner]="user.uid === review.ownerId" 
      (updateEvent)="updateReview($event)"
      (deleteEvent)="deleteReview($event)"
      ></app-review>
  </div>

</ion-content>
