<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Browse latest reviews
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Browse latest reviews</ion-title>
    </ion-toolbar>
  </ion-header>
  
<div *ngIf="currentUser" >
    <app-review 
    *ngFor="let review of reviews | async ; let index = index"
    [reviewData]="review" 
    [isOwner]="currentUser.uid === review.ownerId" 
    (updateEvent)="visibleReviewFormIndex=index"
    (deleteEvent)="deleteReview($event)"
    ></app-review>
</div>

</ion-content>
