<ion-card *ngIf="movieData | async as movie" >
  <ion-card-header>
    <ion-card-title>{{movie.name}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p class="text">
      {{movie.description}}
    </p>
    <div class="actions">
      <ion-button color="light" [href]="movie.trailer" target="_blank" >
        Watch trailer 
        &nbsp; 
        <ion-icon name="logo-youtube" style="color: var(--ion-color-danger)" ></ion-icon>
      </ion-button>
      <ion-button>Review</ion-button>
      <ion-button *ngIf="mode==='watchList'" color="danger" >Remove from watchlist</ion-button>
      <ion-button *ngIf="mode==='browse'" >Add to watchlist</ion-button>
    </div>
  </ion-card-content>
</ion-card>