<ion-card *ngIf="movieData | async as movie" >
  <ion-card-header>
    <ion-card-title>{{movie.name}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p class="text">
      {{movie.description}}
    </p>
    <div *ngIf="mode==='browse' else wl" class="actions">
      <ion-button color="light" [href]="movie.trailer" target="_blank" >
        Watch trailer 
        &nbsp; 
        <ion-icon name="logo-youtube" style="color: var(--ion-color-danger)" ></ion-icon>
      </ion-button>
      <ion-button (click)="review$.emit(null)" >Review</ion-button>
      <ion-button (click)="addToWatchList$.emit(movie)" >Add to watchlist</ion-button>
    </div>
    <ng-template #wl>
      <ion-button (click)="markWatched(movie.id)" [color]="watched ? 'danger' : 'primary'" >{{ watched ? 'Unmark' : 'Mark watched'}}</ion-button>
      <ion-button color="danger" (click)="removeFromWatchList$.emit(movie)" >Remove from watchlist</ion-button>
    </ng-template>
  </ion-card-content>
</ion-card>